body {
    font-family: 'Real Head Pro'
}


.form_main {
    background: rgba(244, 186, 65, 0.1);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    

}

.form_content {
    margin-left: 20px;
    padding: 20px;

}

.form_pic {
    margin-top: 40px;
}

p {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    width: 64px;
    height: 19px;
}



.form_h1 {
    font-weight: 600;
    font-size: 32px;
}

h5 {
    font-weight: 375;
    font-size: 16px;
    margin: 10px 0px;
}

input {
    box-sizing: border-box;
    width: 80%;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #112F45;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 5px;
}

.Form_button {
    width: 20%;
    height: 48px;

    background: #FFFFFF;
    border: 2px solid #112F45;
}

.output {
    box-sizing: border-box;

    position: absolute;
    width: 576px;
    height: 88px;
    left: 523px;
    top: 666px;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
}

.Form_answer {
    box-sizing: border-box;
    position: absolute;
    width: 625px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;

    font-size: large;
    font-weight: 700;
    border: 2px solid #112F45;
}

@media only screen and (max-width: 884px) {
    .form_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form_content {
        margin-left: 0px;

    }

    input {

        width: 80%;
        height: 48px;

    }

    .Form_button {
        width: 20%;

    }
}

@media only screen and (max-width: 485px) {
    .form_h1 {

        font-size: 28px;
    }

    h5 {

        font-size: 12px;

    }
}